<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <!-- noUiSlider CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="bg-zinc-100 ">
    <div id="deleted" class="p-2 bg-white absolute top-10 left-[40vw] rounded-lg shadow-lg opacity-0 scale-95 transition-all duration-500 ease-in-out pointer-events-none">
        <i class="fas fa-times-circle text-red-500"></i>
        Order deleted Successfully</div>
    <div id="Added" class="p-2 bg-white absolute top-10 left-[40vw] rounded-lg shadow-lg opacity-0 scale-95 transition-all duration-500 ease-in-out pointer-events-none">
        <i class="fas fa-check-circle text-green-500"></i>
      
        Order Added Successfully
    </div>