<%- include('./partials/header') %>
    <div class="bg-[url('../images/first.jpg')] w-full h-screen bg-no-repeat bg-cover">
       
        <div class="h-[60vh] w-full"></div>
        <div class="w-full h-[20vh] flex flex-col items-center justify-center gap-5">
            <h1 class="text-3xl text-orange-500 font-bold">Yummies</h1>
            <h1 class="text-md w-[50vw] text-center">India's biggest food delivery app</h1>
            <a href="/signin"><button class="font-bold px-10 py-2 bg-orange-600 rounded-full">Get Started</button></a>
        </div>

    </div>
    <%- include('./partials/footer') %>